# .coveragerc to control coverage.py
[run]
include =
    */qs/api_keys.py
    */qs/qs_api.py
    */qs/rate_limiting.py
    */qs/rest_cache.py
    */qs/rest_foundation.py
    */qs/rest_request_wrappers.py
    */qs/util.py

omit =
    *__init__*
